body {
    margin: 0;
    text-align: center;
    background: #1F2937;
}

.container {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 25px;
    font-family: 'Courier New';
    margin-bottom: -15px;
    font-size: 50px;
    color: brown;
    font-weight: bold;
}

h3 {
    color: #EEEEEE;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700px;
    line-height: 36px;
    letter-spacing: 0em;
}

h2 {
    width: 117px;
    height: 120px;
    left: 100px;
    margin-top: -13px;
    margin-bottom: 18px;
    padding: 20px;
    text-align: center;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    background: #080001;
    border-radius: 5px;
}

.home-score-btn {
    font-family: 'Cursed Timer ULiL';
    box-sizing: border-box;
    padding: 4px;
    width: 45px;
    height: 45px;
    left: 82px;
    border: 2px solid #9AABD8;
    font-size: 18px;
    border-radius: 5px;
    background: #1F2937;
    color: white;
    cursor: pointer;
}

#new-game {
    text-align: center;
    margin-top: 25px;
    font-family: 'Verdana';
    background: black;
    color: whitesmoke;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
}



